%h1
  My Party Pictures

%div
  - unless @albums.blank?
    -@albums.each do |album|
      %p
        = link_to album.name, album_path(album)
        = link_to "Edit", edit_album_path(album)
  - else
    No Albums Available
  %p
    = link_to "New Album", new_album_path
